.qun-l-khch-hng {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .qun-l-khch-hng .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1702px;
    height: 858px;
    position: relative;
  }
  
  .qun-l-khch-hng .overlap {
    width: 1503px;
    height: 1164px;
    left: 234px;
    position: absolute;
    top: 0;
  }
  
  .qun-l-khch-hng .rectangle {
    position: absolute;
    width: 1268px;
    height: auto;
    top: 132px;
    left: 0;
  }
  
  .qun-l-khch-hng .img {
    position: absolute;
    width: 1503px;
    height: 1017px;
    top: 132px;
    left: 0;
  }
  
  .qun-l-khch-hng .rectangle-2 {
    position: absolute;
    width: 1503px;
    height: 134px;
    top: 0;
    left: 0;
    background-color: #e2d76e;
  }
  
  .qun-l-khch-hng .profile-avtar {
    position: absolute;
    width: 111px;
    height: 97px;
    top: 16px;
    left: 1327px;
    object-fit: cover;
  }
  
  .qun-l-khch-hng .sales-info-search {
    position: absolute;
    width: 233px;
    height: 36px;
    top: 64px;
    left: 40px;
  }
  input[type=text]{
    width: 100%;
    height: 40px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
  }
  input[type=text]:focus{
    border-color:dodgerblue ;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  .qun-l-khch-hng .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .rectangle-3 {
    position: absolute;
    width: 625px;
    height: 472px;
    top: 221px;
    left: 40px;
  }
  
  .qun-l-khch-hng .table {
    position: absolute;
    width: 1180px;
    height: 774px;
    top: 390px;
    left: 54px;
    background-color:#ffffff;
  }
  
  a{
    text-decoration: none;
    color:#000000; 
  }
  
  a:hover{
    color:#0b63f8;
  }

  .qun-l-khch-hng .frame {
    display: flex;
    flex-direction: column;
    width: 1383px;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    top: 32px;
  }
  
  .qun-l-khch-hng .navbar {
    position: relative;
    width: 1144px;
    height: 48px;
  }
  
  .qun-l-khch-hng .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 80px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-khch-hng .text-wrapper-3 {
    top: 0;
    left: 200px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 375px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-khch-hng .text-wrapper-5 {
    top: 0;
    left: 555px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .overlap-group {
    width: 108px;
    height: 19px;
    left: 695px;
    position: absolute;
    top: 0;
  }
  
  .qun-l-khch-hng .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-khch-hng .text-wrapper-7 {
    position: absolute;
    top: 0;
    left: 875px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .qun-l-khch-hng .vector {
    top: 48px;
    position: absolute;
    width: 1130px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .qun-l-khch-hng .minus-square {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 24px;
  }
  
  .qun-l-khch-hng .navbar-2 {
    position: relative;
    width: 1142px;
    height: 50px;
  }
  
  .qun-l-khch-hng .text-wrapper-8 {
    position: absolute;
    top: 2px;
    left: 79px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #0b63f8;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-9 {
    top: 2px;
    left: 236px;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-10 {
    top: 2px;
    left: 690px;
    position: absolute;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-11 {
    margin-left:5px ;
    top: 0;
    left: 865px;
    position: absolute;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-12 {
    margin-left: 10px;
    top: 2px;
    left: 372px;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-13 {
    width: 127px;
    top: 0;
    left: 560px;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    overflow-wrap:break-word;
  }
  
  .qun-l-khch-hng .vector-2 {
    top: 50px;
    position: absolute;
    width: 1130px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .qun-l-khch-hng .minus-square-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 24px;
  }
  
  .qun-l-khch-hng .frame-2 {
    display: flex;
    width: 936px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 155px;
    left: 54px;
  }
  
  .qun-l-khch-hng .group {
    position: relative;
    width: 268px;
    height: 90px;
  }
  
  .qun-l-khch-hng .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 266px;
    height: 50px;
    top: 40px;
    left: 0;
    background-color: rgb(221, 216, 216);
  }
  
  .qun-l-khch-hng .text-wrapper-14 {
    position: absolute;
    top: 12px;
    left: 24px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #13131399;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 20px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    padding-top:20px;
  }
  
  .qun-l-khch-hng .group-2 {
    position: relative;
    width: 268px;
    height: 90px;
    margin-right: -2px;
  }
  
  .qun-l-khch-hng .frame-3 {
    display: flex;
    width: 936px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 266px;
    left: 54px;
  }
  
  .qun-l-khch-hng .button-2 {
    position: absolute;
    width: 266px;
    height: 50px;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #13131340;
  }
  
  .qun-l-khch-hng .overlap-2 {
    width: 230px;
    height: 1149px;
    left: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
  }
  
  .qun-l-khch-hng .active {
    position: absolute;
    width: 3px;
    height: 39px;
    top: 280px;
    left: 0;
    background-color: #6da1fb;
  }
  
  .qun-l-khch-hng .sidebar {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 993px;
    align-items: flex-start;
    gap: 525px;
    padding: 0px 0px 30px;
    position: absolute;
    top: 156px;
    left: 41px;
  }
  
  .qun-l-khch-hng .frame-4 {
    position: relative;
    width: 140px;
    height: 438.15px;
  }
  
  .qun-l-khch-hng .text-wrapper-16 {
    position: absolute;
    top: -1px;
    left: 39px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #717171;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .qun-l-khch-hng .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .qun-l-khch-hng .group-3 {
    position: absolute;
    width: 142px;
    height: 24px;
    top: 65px;
    left: 0;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .text-wrapper-17 {
    position: absolute;
    top: 0;
    left: 40px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #0b63f8;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .qun-l-khch-hng .group-4 {
    position: absolute;
    width: 128px;
    height: 24px;
    top: 130px;
    left: 0;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .text-wrapper-18 {
    position: absolute;
    top: 0;
    left: 40px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #131313;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .qun-l-khch-hng .group-5 {
    position: absolute;
    width: 153px;
    height: 48px;
    top: 190px;
    left: -12px;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .text-wrapper-19 {
    position: absolute;
    top: 5px;
    left: 52px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #131313;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .qun-l-khch-hng .group-6 {
    position: absolute;
    width: 20px;
    height: 25px;
    top: 0;
    left: 0;
    margin-left: 15px;
  }
  
  .qun-l-khch-hng .group-7 {
    position: absolute;
    width: 125px;
    height: 24px;
    top: 257px;
    left: 0;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .group-8 {
    position: absolute;
    width: 119px;
    height: 24px;
    top: 324px;
    left: 2px;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .text-wrapper-20 {
    position: absolute;
    top: 0;
    left: 38px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #131313;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .qun-l-khch-hng .group-9 {
    position: absolute;
    width: 103px;
    height: 24px;
    top: 384px;
    left: 0;
    opacity: 0.6;
  }
  
  .qun-l-khch-hng .setting {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background-image: url(./img/star.svg);
    background-size: 100% 100%;
  }
  
  .qun-l-khch-hng .logo {
    position: absolute;
    width: 149px;
    height: 36px;
    top: 64px;
    left: 23px;
  }
  
  .qun-l-khch-hng .text-wrapper-21 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #013cc6;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .qun-l-khch-hng .text-wrapper-gia{
    top: 2px;
    left: 1030px;
    position: absolute;
    opacity: 0.65;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }

  .qun-l-khch-hng .text-wrapper-giatb {
    position: absolute;
    top: 0;
    left: 1030px;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  a{
    text-decoration: none;
    color:#000000; 
  }
  
  a-main{
    text-decoration: none;
    color:#6da1fb; 
  }

  a:hover{
    color:#0b63f8
  }