.ng-nh-p-kh-ch,
.ng-nh-p-kh-ch {
  background: #ffffff;
  height: 870px;
  position: relative;
  overflow: hidden;
}
.image {
  width: 1920px;
  height: 894px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-2 {
  background: #000000;
  opacity: 0.5;
  width: 1920px;
  height: 894px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-6649 {
  border-radius: 0px;
  width: 1250px;
  height: 525px;
  position: absolute;
  left: 335px;
  top: 156px;
  overflow: visible;
}
.group-47758 {
  position: absolute;
  inset: 0;
}

button{
    border-radius: 20px;
    width: 266px;
    height: 86px;
    position: absolute;
    overflow: visible;
    background-color: #e8ff77;
}
button:hover{
    border-radius: 20px;
    width: 266px;
    height: 86px;
    position: absolute;
    overflow: visible;
    background-color: #fbff16;
    cursor:pointer;
}
.ng-nh-p {
  color: #5821fd;
  text-align: center;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 827px;
  top: 540px;
}
.ng-nh-p-t-i-kho-n {
  color: #000000;
  text-align: left;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 716px;
  top: 191px;
}

.group-47756 {
  position: absolute;
  inset: 0;
}
.rectangle-6650 {
  background: #d9d9d9;
  width: 1063px;
  height: 71px;
  position: absolute;
  left: 428px;
  top: 285px;
}
input[type=text]{
    width: 100%;    
    height: 71px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 25px;
  }
  input[type=text]:focus{
    border-color:dodgerblue ;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  input[type=password]{
    width: 100%;    
    height: 71px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 25px;
  }
  input[type=password]:focus{
    border-color:dodgerblue ;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
.t-n-t-i-kho-n {
  color: #000000;
  text-align: left;
  font-family: "Kodchasan-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 428px;
  top: 243px;
}
.group-47757 {
  position: absolute;
  inset: 0;
}
.rectangle-66502 {
  background: #d9d9d9;
  width: 1063px;
  height: 71px;
  position: absolute;
  left: 428px;
  top: 432px;
}
.m-t-kh-u {
  color: #000000;
  text-align: left;
  font-family: "Kodchasan-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 428px;
  top: 390px;
}
.ch-a-c-t-i-kho-n-ng-k-ngay {
  text-align: center;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 756px;
  top: 657px;
}
.ch-a-c-t-i-kho-n-ng-k-ngay-span {
  color: #000000;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.ch-a-c-t-i-kho-n-ng-k-ngay-span2 {
  color: #ff0000;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

a{
    color:#ff0000
}

a:hover{
    color: brown;
  }

  input[type=submit]{
    width: 266px;    
    height: 86px;
    font-size: 25px;
    color: #5821fd;
    text-align: center;
    font-family: "Kodchasan-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    background-image: url('/image/Rectangle 5 (2).png');
    background-repeat:no-repeat;
    border-radius: 35px;
    display: block;
    line-height: 10px;;
  }

  input[type=submit]:hover{
    color:#504a62;
    background-color:#dbd37b;
    background-image: none;
    cursor: pointer;
  }
